.project-page header{
    background-image: linear-gradient(rgba(5,10,35,0.75),rgba(5,10,35,0.75)),url(../../utils/images/project-bg.jpg);
}
.project{
    padding-top: 10px;
    
}
header{
    background-size: cover;
    background-position: center;
}
.height{
    height: 400px;
}
.pdf{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    margin-bottom: 30px;
 
}
.forms{
    padding: 20px;
    border: 2px solid black ;
    width: 25%;
    text-align: center;
}
.form-control{
    border-color: black !important;
}
