.contact-page header {
  background-image: linear-gradient(
      rgba(5, 10, 35, 0.75),
      rgba(5, 10, 35, 0.75)
    ),
    url("../../utils/images/contact-page-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full height */
  padding-top: 75px; /* Adjust this based on the height of your navbar */
  position: relative; /* Set position if you have absolute elements */
}

/* /now this is include/  */
.form-card {
  background-color: white; /* Card background color */
  padding: 20px; /* Inner padding */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 50px rgba(62, 4, 110, 0.635); /* Shadow effect */
}

#contact-form .form-control:focus,
#contact-form .form-select:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  /* Make the inputs take full width of the container */
  padding: 10px; /* Increase padding for larger input box */
  /* position: relative; */
}
#contact-form .form-control,
#contact-form .form-select {
  padding: 10px;
}

.image {
  position: relative;
}
