.home-page header{
    background-image: linear-gradient(rgba(5,10,35,0.75), rgba(5,10,35,0.75)),url('../../utils/images/home-page-header1.jpg');
}
header{
    background-size: cover;
    background-position: center;
}
img{
    height: 420px;
    width: 570px;
}

p{
    padding-top: 15px;
}