.login-page header{
    background-image: linear-gradient(rgba(5,10,35,0.75), rgba(5,10,35,0.75)), url(../../utils/images/login-page-img.jpg);
    /* background-color: rgba(166, 48, 37, 0.75); */
}
.heading{
    padding-left: 320px;
    padding-top: 100px;
}
.signup-form{
    padding-top: 50px;
    padding-left: 420px;

}
#login-form {
    width: 50%
}
#login-form .form-control:focus,
#login-form .form-select:focus{
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220,53,69,0.25);
}

@media only screen and (max-width:992px) {
    #login-form {
    width: 75%
}
}
@media only screen and (max-width:576px) {
    #login-form {
    width: 100%
}
}

/* Header background */
.login-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/login-page-img.jpg);
    background-size: cover; /* Ensure background image covers the area */
    background-position: center;
    background-repeat: no-repeat;
  }




  /* Align label text to the left */
.signup-form .form-label {
    text-align: left !important; /* Ensure the label text is left-aligned */
    margin-bottom: 5px; /* Add space below the label */
    display: block !important; /* Ensure the label takes up the full width */
  }
  
  /* Align input text to the left */
  .signup-form .form-control {
    text-align: left !important; /* Ensure the input text is left-aligned */
  }