.faq-section p, .acoordition{
    width: 75%;
}
.acoordition .acoordition-button:focus, .acoordition .acoordition-button:not(.collapsed){
    box-shadow: none;
}
.accordition .acoordition-button:not(.collapsed){
    background-color: #dc3545;
    color: #ffffff ;
}
.accordition .acoordition-button:not(.collapsed)::after{
    filter: invert();
}
@media only screen and ( max-width: 992px){
    .faq-section p, .acoordition{
        width: 100%;
    }  
  }
  